@import "./contact/contact.css";
@import "./nav/nav.css";
@import "./search/search.css";

body {
    background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.25px;
}

a {
    color: white !important;
    letter-spacing: -0.25px;
}

a,
span,
p {
    font-family: 'Montserrat', sans-serif;
}